.card-skill {
    width: auto;
    height: auto;
    background-color: transparent;
    border: 2px solid var(--text-primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: clip-path 0.25s cubic-bezier(.25,1.7,.45,.87), transform 0.25s cubic-bezier(.25,1.7,.45,.87);
    transform: scale(1);
    z-index: 1;
    padding: 10px;
}

.card-skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-skill-content h3 {
    font-size: 15px;
    font-weight: 500;   
    color: var(--text-primary);
}

.card-skill-content img {
    width: 50px;
    height: 50px;
}

.card-skill--hovered {
    transform: scale(1.08);
    z-index: 2;
}

/* Media query para tablets */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .card-skill {
        padding: 12px;
    }
    
    .card-skill-content img {
        width: 45px;
        height: 45px;
    }
    
    .card-skill-content h3 {
        font-size: 14px;
    }
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .card-skill {
        padding: 10px;
    }
    
    .card-skill-content img {
        width: 40px;
        height: 40px;
    }
    
    .card-skill-content h3 {
        font-size: 12px;
    }
}