.jelly-blob {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: background 0.3s;
  transform-origin: center;
}

.jelly-blob-0 {
  width: 45px;
  height: 45px;
  background: var(--jellyblob-primary);
  opacity: 1;
} 