.theme-toggle__inner-moon {
  color: var(--text-primary);
  width: 30px !important;
  height: 30px !important;

  border-radius: 100px;
  cursor: pointer;
  margin: 5px 10px;
}

.theme-toggle__inner-moon:hover {
  color: var(--primary);
}