.main-container {
    width: 896px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 250px;
    max-width: 90vw;
}

/* Hero Section */

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dotted var(--text-primary);
    padding-bottom: 20px;
}

.hero-section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-section-content .greeting {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid var(--text-primary);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-content .greeting p {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-primary);
}

.hero-section-content h1 {
    font-size: 80px;
    font-weight: 600; /* Un poco más de peso para resaltar el efecto */
    /* Aplicamos el gradiente al nombre */
    background-image: linear-gradient(to right, 
        var(--gradient-color-1), 
        var(--gradient-color-2), 
        var(--gradient-color-3), 
        var(--gradient-color-4), 
        var(--gradient-color-5));
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    /* Sombra sutil para dar profundidad */
    text-shadow: 3px 3px 10px rgba(150, 150, 150, 0.15);
    /* Animación suave del gradiente */
    animation: gradient 6s ease infinite;
    transition: all 0.4s ease;
    letter-spacing: 0.5px; /* Mejora sutilmente la legibilidad */
}

/* Animación del gradiente */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero-section-content h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-primary);
    letter-spacing: 3.5px;
}

/* About */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px dotted var(--text-primary);
    padding-bottom: 20px;
}

.about-section-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-secondary);
    margin: 0;
}

.about-section-description {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-primary);
}

.highlight-description {
    font-weight: 700;
}

.about-section-button {
    background-color: var(--button-bg);
    color: var(--text-primary);
    border: 2px solid transparent;
    border-radius: 100px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.about-section-button:hover {
    border-color: var(--text-primary);
}

.button-icon {
    transition: color 0.3s ease;
}

/* Skills */

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills-section-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-secondary);
    margin: 0;
}

.skills-container-cards {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Projects */

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.menu-projects-button {
    border-radius: 100px;
    padding: 5px 20px;
    border: none;
    font-size: 15px;
    color: var(--text-primary);
    cursor: pointer;
    background: transparent;
    outline: none;
}

.menu-projects-button:hover,
.menu-projects-button.active {
    background-color: transparent;
    color: var(--text-primary);
    font-weight: 600;
    position: relative;
}

.menu-projects-button:hover::after,
.menu-projects-button.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #9F3B44;
    display: block;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projects-section-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-secondary);
    margin: 0;
}

/* Contact */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px dotted var(--text-primary);
    padding-bottom: 20px;
}

.contact-section-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-secondary);
    margin: 0;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;  
}

.social-icon {
    color: var(--text-primary);
}

.social-icon:hover {
    color: var(--primary);
}

/* Reglas para pantallas pequeñas de laptop */
@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .main-container {
        width: 85%;
        max-width: 900px;
    }

    .hero-section-content h1 {
        font-size: 70px;
    }

    .skills-container-cards {
        justify-content: center;
        gap: 10px;
    }
}

/* Reglas de CSS responsivo para tablets */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .main-container {
        width: 90%;
        padding-top: 80px;
        padding-bottom: 200px;
    }

    /* Hero Section para tablets */
    .hero-section {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .hero-section-content {
        align-items: center;
        order: 2;
    }

    .laptop-model-container {
        order: 1;
    }

    .hero-section-content h1 {
        font-size: 65px;
    }

    .hero-section-content h2 {
        font-size: 18px;
        letter-spacing: 2.5px;
    }

    /* About Section para tablets */
    .about-section-description {
        text-align: center;
        font-size: 14px;
        max-width: 600px;
    }

    /* Skills Section para tablets */
    .skills-container-cards {
        justify-content: center;
        gap: 10px;
        max-width: none;
    }

    /* Projects Section para tablets */
    .projects-container {
        flex-wrap: wrap;
        max-width: 600px;
    }

    /* Contact Section para tablets */
    .contact-container {
        flex-direction: column;
        gap: 25px;
        max-width: 700px;
    }

    .container-social-media {
        flex-direction: row;
        gap: 25px;
    }
}

/* Reglas de CSS responsivo para dispositivos móviles */
@media screen and (max-width: 768px) {
    .main-container {
        width: 95%;
        padding-top: 0;
        padding-bottom: 50px;
    }

    /* Hero Section */
    .hero-section {
        flex-direction: column;
        gap: 20px;
    }
    
    /* Invertir el orden de los elementos en móvil: modelo 3D arriba, contenido abajo */
    .hero-section-content {
        align-items: center;
        text-align: center;
        order: 2; /* Poner el contenido abajo */
    }
    
    /* Poner el modelo 3D arriba */
    .laptop-model-container {
        order: 1;
    }

    .hero-section-content h1 {
        font-size: 50px;
        /* Aseguramos que el gradiente se vea bien en dispositivos móviles */
        background-size: 300% auto;
        animation: gradient 8s ease infinite;
    }

    .hero-section-content h3 {
        font-size: 16px;
        letter-spacing: 2px;
    }

    /* About Section */
    .about-section-title,
    .skills-section-title,
    .projects-section-title,
    .contact-section-title {
        font-size: 18px;
    }

    .about-section-description {
        text-align: center;
        font-size: 14px;
    }

    /* Skills Section */
    .skills-container-cards {
        justify-content: center;
        gap: 10px;
    }

    /* Projects Section */
    .menu-projects {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        gap: 10px;
    }

    .menu-projects-button {
        width: 100%;
        text-align: center;
        padding: 10px 20px;
        margin: 5px 0;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Contact Section */

    .contact-container {
        flex-direction: column;
        gap: 30px;
    }

    .container-social-media {
        order: 2;
        padding-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    form {
        width: 100%;
    }
}